<nav class="navbar">
  <app-logo class="logo" [width]="138" [height]="78"></app-logo>

  <ul class="nav-items">
    <li><a href="#"><img src="assets/navbar/home.png" alt="" [style.width.px]="34" /> Home</a></li>
    <li><a href="#"><img src="assets/navbar/notification.png" alt="" [style.width.px]="34" /> Notification</a></li>
    <li><a href="#"><img src="assets/navbar/shopping-cart.png" alt="" [style.width.px]="34" /> Cart</a></li>
    <li><a href="#"><img src="assets/navbar/heart.png" alt="" [style.width.px]="34" /> Favorite</a></li>
  </ul>

  <div class="user">
    <app-search class="app-search"></app-search>
    <img class="icon-user" src="assets/navbar/user.png" />
  </div>
</nav>
